<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>About</title>
</head>
<body>
    <div class="main-container">
     {{>headers}}
    <img class="portrait" src="/img/robot.png" alt="">
    <p class="paragraph">This is a simple Weather app that I made to gain experience. If you want to contact me, you can do so through the provided portal.</p>  
    </div>
   {{>footer}}
</body>
</html>